/* .Chooseus1{
    height: 250px;
    width: 100%;
    background-color: white;
} */
.Chooseus {
    height: 500px;
    width: 100%;
    
    /* background-color: white; */
}

.text {
    display: flex;
    justify-content: center;
    font-size: 34px;
    color: #002347;
    margin-top: 150px;
    margin-left: 50px;
}


.Choose {
    display: flex;
    justify-content: center;
}

.Choose1 {
    height: 250px;
    width: 350px;
    /* justify-content: space-around; */
    background-color: #F9F9FF;
    gap: 40px;
    margin-left: 50px;
    border-radius: 15px;
    list-style-type: none;
    margin-top: 80px;


}

.icon1 {
    font-size: 40px;
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: transparent;


}

.Choosetext {
    font-size: 18px;
    margin-left: 40px;
    margin-right: 20px;
}

.Choosetext p {
    margin-top: 15px;
}

.Choose1:hover {
    transition: 0.3s;
    background-color: rgb(170, 227, 254);
    transform: translateY(-5px);

}