.Scroll{
    width: 100%;
    overflow: hidden;
    /* background-color: white; */
    height: 230px;
    margin-top: 90px;
    margin-bottom: -80px;
}

.Scroll1{
    display: flex;
    gap: 20px;
    width: max-content;
    animation: marquee 15s linear infinite;
    cursor: pointer;
    
}

.Scroll1:hover{
    animation-play-state: paused;
}

.scroll2{
    width: 250px;
    height: 78px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #e6e9f0;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 0 20px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.06);
    /* margin-bottom: 120px; */
    font-size: 18px;
    color: #7B838A;
    
}

.scroll2:nth-child(1) {
  background: #FFF3D6; /* Electrician - Light Yellow */
}

.scroll2:nth-child(2) {
  background: #E0F2FE; /* Plumber - Light Sky Blue */
}

.scroll2:nth-child(3) {
  background: #FCE7E7; /* Mason - Light Red */
}

.scroll2:nth-child(4) {
  background: #FCE7F3; /* Painter - Light Pink */
}

.scroll2:nth-child(5) {
  background: #FEF0D5; /* Carpenter - Light Orange */
}

.scroll2:nth-child(6) {
  background: #EDE9FE; /* Welder - Light Purple */
}

.scroll2:nth-child(7) {
  background: #DCFCE7; /* House Help - Light Green */
}

.scroll2:nth-child(8) {
  background: #E0F2FE; /* Driver - Sky Blue */
}

.scroll2:nth-child(9) {
  background: #CCFBF1; /* AC Technician - Light Teal */
}

.scroll2:nth-child(10) {
  background: #FFE4E6; /* Baby Care - Soft Rose */
}

.scroll2:nth-child(11) {
  background: #FEF0D5; /* Carpenter - Light Orange */
}

.scroll2:nth-child(12) {
  background: #FCE7F3; /* Painter - Light Pink */
}




@keyframes marquee {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}