.popular {
  width: 90%;
  margin: 60px auto;
  text-align: center;
  margin-bottom: 150px;
  
}

.popular h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #111827;
  margin-bottom: 70px;
}

.category-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.category-card {
  width: 115px;
  height: 120px;
  border: 1px solid #e5e7eb;
  border-radius: 15px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.category-card:nth-child(1) {
  background: #fffaf0; /* Electrician */
}

.category-card:nth-child(2) {
  background: #f0f9ff; /* Plumber */
}

.category-card:nth-child(3) {
  background: #fff5f2; /* Mason */
}

.category-card:nth-child(4) {
  background: #fff2f8; /* Painter */
}

.category-card:nth-child(5) {
  background: #fff9ef; /* Carpenter */
}

.category-card:nth-child(6) {
  background: #f5f2ff; /* Welder */
}

.category-card:nth-child(7) {
  background: #f1fbf3; /* House Help */
}

.category-card:nth-child(8) {
  background: #f1f8ff; /* Driver */
}

.category-card:nth-child(9) {
  background: #effcfb; /* AC Technician */
}

.category-card:nth-child(10) {
  background: #fff5f2; /* Baby Care */
}

.category-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.12);
}

.icon {
  font-size: 35px;
  color: #2563eb;
  margin-bottom: 12px;
}

.category-card h4 {
  font-size: 15px;
  color: #111827;
  font-weight: 600;
}

