/* ===== Job Filter Page ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

.filter-job-page{
    background-image: linear-gradient(to bottom, rgb(92, 200, 251), transparent);
}
.filter-active{
    color:#0d6efd;
}



.filter-icon{
    font-size:24px;
    color:#555;
    cursor:pointer;
}

/* Main */

.filter-main-container{
    display:flex;
    gap:25px;
    padding:25px;
}

/* Sidebar */

.filter-sidebar{
    width:320px;
    background:#fff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    height:fit-content;
    position: fixed;
    /* top: 8px; */
}

.filter-sidebar h2{
    margin-bottom:20px;
    color:#0d47a1;
}

.filter-box{
    margin-bottom:20px;
}

.filter-box label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
    color:#333;
}

.filter-box input,
.filter-box select{
    width:100%;
    padding:12px;
    border:1px solid #d9d9d9;
    border-radius:8px;
    font-size:15px;
    outline:none;
}

.filter-box input:focus,
.filter-box select:focus{
    border-color:#0d6efd;
}

.filter-apply-btn,
.filter-reset-btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:8px;
    margin-top:12px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.filter-apply-btn{
    background:#0d6efd;
    color:#fff;
}

.filter-apply-btn:hover{
    background:#0b5ed7;
}

.filter-reset-btn{
    background:#fff;
    border:2px solid #0d6efd;
    color:#0d6efd;
}

.filter-reset-btn:hover{
    background:#0d6efd;
    color:#fff;
}



.filter-job-list{
    flex:1;
    margin-left: 350px;
}

.filter-job-list h2{
    margin-bottom:20px;
    color:#333;
}

/* Job Card */

.filter-job-card{
    background:#fff;
    border-radius:15px;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.filter-job-logo img{
    width:75px;
    height:75px;
}

.filter-job-details{
    flex:1;
    margin-left:20px;
}

.filter-top-row{
    display:flex;
    align-items:center;
    gap:15px;
}

.filter-top-row h3{
    color:#222;
}

.filter-badge{
    background:#d4edda;
    color:green;
    padding:6px 12px;
    border-radius:20px;
    font-size:13px;
}

.filter-job-details h4{
    margin:10px 0;
    color:#555;
}

.filter-job-details p{
    color:#666;
    margin:5px 0;
}

.filter-job-right{
    text-align:right;
}

.filter-job-right h3{
    color:green;
    margin-bottom:15px;
}

.filter-job-right button{
    background:#0d6efd;
    color:#fff;
    border:none;
    padding:12px 22px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.filter-job-right button:hover{
    background:#0b5ed7;
}

 