.Footer {
    background-color: #002347;
    color: white;
    display: flex;
    padding: 60px 20px;
    height: 500px;
    list-style-type: none;
}

.box1 {
    margin-top: 50px;
    width: 200px;
    margin-bottom: 30px;
    margin-left: 180px;
    font-size: 16px;
    /* color: #7B838A; */

}

.box2,
.box3,
.box4 {
    font-size: 16px;
    margin-top: 50px;
    width: 200px;
    margin-bottom: 20px;
    margin-left: -9px;
    gap: 20px;

}

.box5 {
    margin-top: 68px;
    margin-left: 90px;
}


.Footer h3 {
    margin-bottom: 15px;
}


.Footer2 {
    height: 200px;
    width: 100%;
    background-color: #002347;
    display: flex;
    margin-top: -100px;
    justify-content: center;

}


.Copyright {
    margin-right: 300px;
    color: orange;
    margin-top: 35px;

}

.Footer-text {
    margin-left: -296px;
    margin-right: 425px;
    color: rgb(75, 193, 248);
    margin-top: 35px;
}


.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 35px;


}





.icon0,
.icon2,
.icon3,
.icon4 {
    height: 40px;
    width: 40px;
    background: #0f3a4a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 24px;
    border-radius: 8px;

}

.icon0:hover {

    transition: 0.3s;
    background-color: #1877F2;
    transform: translateY(-5px);
}

.icon2:hover {

    transition: 0.3s;
    background-color:  #d11c6d;
    transform: translateY(-5px);
}

.icon3:hover {

    transition: 0.3s;
    background-color: #1DA1F2;
    transform: translateY(-5px);
}

.icon4:hover {

    transition: 0.3s;
    background-color: black;
    transform: translateY(-5px);
}

.Footer li {
    color: #7B838A;
}

.Footer li:hover {
    color: white;
}