.jobshero{
    height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(92, 200, 251), transparent);
  padding-top: 20px;
  
}

.jobimage{
  margin-top: -30px;
}


.jobimage h1{
  margin-top: -250px;
  margin-left: 40px;
  font-size: 35px;
}


.jobimage p{
  margin-left: 40px;
}

/* .jobsearchp{
  margin-top: -129px;
} */