.working{
    background-color: white;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Mainworking{
    background:linear-gradient(to bottom, rgb(75, 193, 248), transparent);
}





















